.tapete{
  padding: 40px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.controles{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: #4d4d4d;
  border-radius: 8px;
}

.carta{
  width: 200px;
  height: 280px;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  box-shadow: 4px 4px 0px #000000;
  overflow: hidden;
}

.imagen-carta{
  width: 200px;
  height: auto;
}
.acciones{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.btn-accion {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: transform 0.1s, opacity 0.2s;
}
.btn-accion:active {
  transform: scale(0.95); /* Efecto de click */
}

.btn-accion:hover {
  opacity: 0.9;
}

.btn-damage {
  background-color: #d32f2f;
}

.btn-curar {
  background-color: #388e3c;
}

.btn-reset {
  background-color: #212121;
  border: 2px solid #d32f2f;
}

.contadorDamage{
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #ff4f4d;
  color:white;
  border: 3px solid white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: sans-serif;
  animation: mostrar 0.3s cubic-bezier(0.175, 0.885, 0.32, 1275);
}
@keyframes mostrar{
  from {transform: scale(0);}
  to{transform: scale(1);}
}

.estado{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4f4d;
  color: white;
  padding: 4px 8px ;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;

}
.envenenado{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #cc00ff;
  border-radius: 5px;
  color: white;
  padding: 4px 8px ;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
}

.quemado{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fd5a1f;
  border-radius: 5px;
  color: white;
  padding: 4px 8px ;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
}
.paralizado{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fbff00;
  border-radius: 5px;
  color: black;
  padding: 4px 8px ;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
}
.dormido{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #656565;
  border-radius: 5px;
  color: white;
  padding: 4px 8px ;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
}